<section class="todolist">
  <header class="header">
    <h1>ToDo list</h1>
    <app-greet></app-greet>
    <app-shopping-list></app-shopping-list>

    <p>
      {{number1 * number2}}
    </p>
    
    <form id="form">
<input type="text" class="new-todo" #task>

    </form>
    <div>
<!-- event binding -->
<button (click)='addTask(task.value)'>
  
  
  
  Add Task</button>


    </div>
  
    </header>
<ul *ngFor="let task of taskList">
  <li>{{task}}</li>
</ul>

<!-- property binfing -->
<input [value]="title"> 
<p [innerHTML]="title"></p>


 
</section>


<!-- property and event binding together-->
<div>
<input [value]='name'>
<button (click)="OnClick()"> Change input text</button>

<!-- property and event binding together-->
<br>
<input [value]='name' (keypress)="OnClick2(nam.value)" #nam>
{{name}}

</div>


<div>
<br>
<!-- two way binding-->
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>



</div>


<div>

<!-- two way binding to chane the font of hello world-->
<input type="text" [(ngModel)]="font">
<p>{{font}}</p>

<app-welcome [message]="messageName" [font]="font" (messageChanged)="collectMessage($event)"></app-welcome> 

</div>




  <!-- <input type="text"  (keypress)="OnClick3(va.value)" #va>
  {{font}}
  -->
  






